@import "compass/css3";

$rangeslider:               ".rangeslider";
$rangeslider--horizontal:   ".rangeslider--horizontal";
$rangeslider--vertical:     ".rangeslider--vertical";
$rangeslider--disabled:     ".rangeslider--disabled";
$rangeslider__fill:         ".rangeslider__fill";
$rangeslider__handle:       ".rangeslider__handle";

$handler-size:              1.250em;
$triangle-size:             0.625em;
$air:                       0.500em;

#{$rangeslider},
#{$rangeslider__fill} {
    display: block;
    @include box-shadow(inset 0px 1px 3px rgba(0,0,0,0.3));
    @include border-radius(10px);
}

#{$rangeslider} {
    background: #e6e6e6;
    position: relative;
}

#{$rangeslider--horizontal} {
    height: $handler-size;
    width: 100%;
}

#{$rangeslider--vertical} {
    width: $handler-size;
    min-height: 150px;
    max-height: 100%;
}

#{$rangeslider--disabled} {
    @include opacity(.4);
}

#{$rangeslider__fill} {
    background: #00ff00;
    position: absolute;

    #{$rangeslider--horizontal} & {
        top: 0;
        height: 100%;
    }

    #{$rangeslider--vertical} & {
        bottom: 0;
        width: 100%;
    }
}

#{$rangeslider__handle} {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: $handler-size * 2;
    height: $handler-size * 2;
    position: absolute;
    @include background-image(linear-gradient(rgba(white, 0), rgba(black, .10)));
    @include box-shadow(0 0 8px rgba(black, .3));
    @include border-radius(50%);

    &.tooltip {
        &:after {
            position: absolute;
            bottom: -$triangle-size;
            width: 0;
            height: 0;
            display: block;
            border: $triangle-size solid transparent;
            border-top-color: #006ec1;
            border-bottom-width: 0;
            content: '';
            -webkit-transform: translate($triangle-size, -($handler-size * 2 + $triangle-size + $air));
            transform: translate($triangle-size, -($handler-size * 2 + $triangle-size + $air));
            pointer-events: none;
        }

        &:before {
            content: attr(data-input-value);
            position: absolute;
            border-radius: 0;
            top: -($handler-size + $triangle-size + $air);
            min-width: 1.75000em;
            padding: 0.75em;
            display: inline-block;
            color: white;
            font-size: 1em;
            text-align: center;
            background-color: #006ec1;
            transform: translateY(-1.5em);
            pointer-events: none;
        }

        &.fade {
            &:before, &:after {
                opacity: 0;
                transition: opacity .2s;
            }
            &:active:before, &:active:after {
                opacity: 1;
            }
        }
    }

    #{$rangeslider--horizontal} & {
        top: -10px;
        touch-action: pan-y;
        -ms-touch-action: pan-y;
    }

    #{$rangeslider--vertical} & {
        left: -10px;
        touch-action: pan-x;
        -ms-touch-action: pan-x;
    }
}

input[type="range"]:focus + #{$rangeslider} #{$rangeslider__handle} {
    @include box-shadow(0 0 8px rgba(#ff00ff, .9));
}
